# OpenCue dependencies for PCs WITHOUT git installed
# Use this for installation on machines that don't have Git
# Packages with git dependencies are excluded and will be installed locally instead

opencue_proto @ file:///C:/opencue/proto
opencue_pycue @ file:///C:/opencue/pycue
opencue_pyoutline @ file:///C:/opencue/pyoutline
opencue_cuegui==1.13.8
opencue_cuesubmit==1.13.8


argcomplete==3.6.2
charset-normalizer==3.4.3
click==8.3.0
colorama==0.4.6
commitizen==4.9.1
decli==0.6.3
Deprecated==1.2.18
future==1.0.0
greenlet==3.2.4
grpcio==1.76.0
grpcio-tools==1.76.0
iniconfig==2.3.0
Jinja2==3.1.6
MarkupSafe==3.0.2
mock==2.0.0
NodeGraphQt==0.6.43
NodeGraphQtPy==0.6.38.6
numpy==2.2.6
opencue_cueadmin==1.13.8
opencue_cuecmd==1.13.8
opencue_rqd==1.13.8
opencv-python==4.12.0.88
OpenEXR==3.4.0
OpenImageIO==3.0.11.0
packaging==25.0
pandas==2.3.1
pbr==7.0.3
pillow==11.3.0
pipx==1.7.1
platformdirs==4.4.0
pluggy==1.6.0
prompt_toolkit==3.0.51
protobuf==6.32.1
psutil==5.9.8
pyblish-base==1.8.12
pyblish-maya==2.1.8
pyfakefs==5.2.3
Pygments==2.19.2
pynput==1.7.6
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5-stubs==5.15.6.0
PyQt5_sip==12.17.0
PyQt6==6.9.1
PyQt6-Qt6==6.9.2
PyQt6_sip==13.10.2
PySide6==6.8.2.1
PySide6_Addons==6.8.2.1
PySide6_Essentials==6.8.2.1
pytest==9.0.1
python-dateutil==2.9.0.post0
pytz==2025.2
pywin32==311
PyYAML==6.0.1
Qt.py==1.4.8
QtPy==2.4.1
questionary==2.1.1
setuptools==80.9.0
shiboken6==6.8.2.1
six==1.16.0
SQLAlchemy==2.0.43
termcolor==3.1.0
tomlkit==0.13.3
types-PySide2==5.15.2.1.8
typing_extensions==4.15.0
tzdata==2025.2
userpath==1.9.2
watchdog==6.0.0
wcwidth==0.2.14
wheel==0.45.1
WMI==1.5.1
wrapt==1.17.3
